{
      name = "${path.module}/files/windows/prelude.ps1.tpl"
      variables = {
        s3_bucket    = "${aws_s3_bucket.staging.id}"
        caldera_port = var.caldera_port
        region       = var.region
        filename     = var.prelude_filename 
        bas_server   = aws_instance.bas_server.private_ip 
      }
},
