{
      name = "${path.module}/files/windows/prelude.ps1.tpl"
      variables = {
        s3_bucket = "${aws_s3_bucket.staging.id}"
        region    = var.region
        filename  = var.prelude_filename 
      }
},
